# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.plist
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
.o
o.obj
*.lib
*.so
*.dll
*.exe
a.out
RemoveSpaceFromString
*.class
a.out*
# Ignore `bin` dir
bin/
# or
*/bin/*
*/ipch/*
